= form_for [:admin, @page] do |f|

  #two_panel_form
    #main_panel
      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :body
        = f.cktext_area :body
      .field
        = f.label :summary
        = f.text_area :summary
      = field_set_tag 'Banner' do
        .field
          - unless @page.new_record?
            .image_gal
              - @page.banner_images.each do |image|
                = image_tag image.image.featured
                = link_to 'Delete', [:admin, @page, image], method: :delete, data: {confirm: 'Are you sure?'}

          = f.label :images
          = f.file_field :images, multiple: true
        .field
          = f.label :banner_caption
          = f.text_field :banner_caption
    #side_panel
      .field
        = f.label :menu_name
        = f.text_field :menu_name
      .field
        = f.label :page_title
        = f.text_field :page_title
      .field
        = f.label :meta_description
        = f.text_area :meta_description
      .field
        = f.label :include_in_menu
        = f.check_box :include_in_menu
      .field
        = f.label :featured
        = f.check_box :featured
      .field
        = f.label :menu, "This is a menu"
        = f.check_box :menu
      .field
        = f.label :gallery_tags, "Show images on this page with the following tags (Separate with commas)"
        = f.text_field :gallery_tags
      .field
        = f.label :order
        = f.text_field :order

  .actions
    = f.submit
