= form_for [:admin, @event] do |f|

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :body
    = f.cktext_area :body
  = field_set_tag 'Image' do
    - unless @event.new_record? || @event.banner.blank?
      = image_tag @event.banner.featured
    .field
      = f.label :banner
      = f. file_field :banner

  = field_set_tag 'Attachment' do
    - unless @event.new_record? || @event.attachment.blank?
      = @event.attachment.url.split('/').last rescue ''
    .field
      = f.label :attachment
      = f. file_field :attachment
  .actions
    = f.submit