= link_to 'pages', admin_pages_path
= link_to 'enquiries', admin_enquiries_path
= link_to 'bookings', admin_bookings_path
= link_to 'events', admin_events_path
= link_to 'gallery', admin_gallery_images_path