- provide :title, @page.page_title
- provide :meta, @page.meta_description
- content_for :full_width do
  #banner_wrapper
    = page_banner @page
.page_columns
  .main_column
    = raw @page.body
  .side_column
    - @events.each do |event|
      .event
        %h2= event.name
        = image_tag event.banner.banner
        %p= raw event.body