- provide :title, @page.page_title
- provide :meta, @page.meta_description

- content_for :full_width do
  - if @page.banner_images.any?
    #banner_wrapper
      = page_banner @page
.page_columns
  .main_column{class: "#{'menu_page' if @page.menu}"}
    - if @page.menu
      - if @page.display_as_pdf
        %h1= @page.name
        %p= link_to 'Download Menu', @page.pdf.try(:url)
      - else
        .menu_container
          = raw @page.body
    - else
      = raw @page.body

  - unless @page.menu
    .side_column
      .gallery_thumbs.small_gallery
        - @page.gallery_images.first(8).each do |image|
          .gallery_thumb
            = image_tag image.image.gallery_thumbnail

      %h3 Booking
      %p
        If you want to book a table, you can call us on 01603 869 014, email us at
        = mail_to 'info@ringlandswan.co.uk'
        or use our booking form by clicking the link below
      %p
        = link_to 'Book online', book_online_path, class: 'book_button'