- provide :title, 'Edit Page'
= form_for [:admin, @gallery] do |f|

  .field
    = f.label :tags, "Tags - Separate each image tag with a comma"
    = f.text_field :tags
  = f.hidden_field :id

  = f.submit