#testimonials
  - Testimonial.all.shuffle.first(3).each do |testomonial|
    .testimonial
      %h4= testomonial.name
      = simple_format testomonial.body
      %span= testomonial.author
#footer
  #footer_inner
    .column
      %h4 Contact
      %p
        Swan Inn
        %br
        The Street
        %br
        Ringland
        %br
        Norwich
        %br
        NR8 6AB
    .column
      %h4 Opening Hours
      %p
        Monday - Saturday
        %br
        12.00pm - 11.00pm
      %p
        Sunday
        %br
        12.00pm - 10.00pm

    .column
      %h4 View our menus
      %p
        - Page.menu_page.each do |menu|
          = link_to menu.name, menu
          %br

    .column.non_mobile
      %h4 Gallery
      .gallery_thumbs.footer_gallery
        - GalleryImage.first(4).each do |image|
          .gallery_thumb
            = image_tag image.image.gallery_thumbnail
      = link_to 'View our gallery', gallery_images_path

#page_bottom
  %p © Copyright 2016, Ringland Swan