%header#header
  #header_inner

    #logo
      = link_to image_tag('logo.png', class: 'logo_image', alt: 'Ringland Swan'), root_path

    #header_contact
      .header_contact_item
        %span Tel: 01603 868214
      .header_contact_item
        %span Email: info@ringlandswan.co.uk
      .header_contact_item.social_icons
        = link_to image_tag('fb.png'), 'https://www.facebook.com/SwanRingland/', target: '_blank'
        = link_to image_tag('twit.png'), 'https://twitter.com/swanatringland', target: '_blank'

    #main_menu
      - Page.menu.each do |page|
        = link_to page.menu_name, page
      = link_to 'Book Now', book_online_path

    #menu_toggle
      .menu_bar
      .menu_bar
      .menu_bar
