!!!
%html
  %head
    %title RinglandswanCoUk
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body{class: "#{controller_name}_#{action_name}"}
    #page_wrapper
      = render 'header'
      - if content_for? :full_width
        #highlight
          = yield :full_width
      #page
        = yield
      = render 'footer'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    :javascript
      (function(d) {
        var config = {
          kitId: 'zmv3blw',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);