!!!
%html
  %head
    %title= page_title(yield(:title))
    %link{:href => "/fav.png?v=2", :rel => "shortcut icon", :type => "image/png"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

    %meta{:content => "width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1", :name => "viewport"}/
    - if content_for?(:meta)
      %meta{:name => "description", :content => yield(:meta)}


    %noscript
      %img{:height => "1", :src => "https://www.facebook.com/tr?id=288341524838270&ev=PageView&noscript=1", :style => "display:none", :width => "1"}/


  %body{class: "#{controller_name}_#{action_name}"}
    - if signed_in?
      = render 'admin_bar'
    #page_wrapper
      = render 'header'
      - if content_for? :full_width
        #highlight
          = yield :full_width
      #page
        .turbolinks-progress-bar
        = yield
      = render 'footer'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    :javascript
      (function(d) {
        var config = {
          kitId: 'zmv3blw',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);

    :javascript
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');

      fbq('init', '288341524838270');
      fbq('track', "PageView");

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88741131-1', 'auto');
      ga('send', 'pageview');